PORT=5002
HOST=0.0.0.0
NODE_ENV=development
MYSQL_HOST=mysql
MYSQL_PORT=3306
MYSQL_USER=pokevault
MYSQL_PASSWORD=pokevault_secret
MYSQL_DATABASE=pokevault
REDIS_HOST=redis
REDIS_PORT=6379
ADMIN_SECRET_KEY=pokevaultadmin123
