PORT=5003
HOST=0.0.0.0
NODE_ENV=development
MYSQL_HOST=mysql
MYSQL_PORT=3306
MYSQL_USER=pokevault
MYSQL_PASSWORD=pokevault_secret
MYSQL_DATABASE=pokevault
CATALOG_SERVICE_URL=http://catalog-service:5002
ADMIN_SECRET_KEY=pokevaultadmin123
